*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 0%;
    text-align: justify;
}
body{
    background-color: snow;
}
header{
    background-color: gray;
}
section{
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto ;
    background-color: lightgrey;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
}
.formation-flex{
    display: flex;
    flex-flow: row wrap;
}
p{
    margin-left: 20px;
}